@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide {
  &::-webkit-scrollbar {
    display: none;
  }
}

.scrollbar-hide{
     scrollbar-width: none;
}

@layer utilities {

  /* Spinner loader */
  .loader-spinner {
    @apply relative h-20 aspect-square p-2.5 rounded-2xl box-border;
    mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);
    -webkit-mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);
    filter: blur(12px);
  }

  .loader-spinner::before {
    content: "";
    @apply absolute inset-0;
    background: repeating-conic-gradient(transparent 0 5%,
        #fb7185,
        /* rose-400 (pinkish red) */
        transparent 20% 50%);
    animation: spin-gradient 1.5s linear infinite;
  }

  @keyframes spin-gradient {
    to {
      rotate: 1turn;
    }
  }

  /* Text loader */
  .loader-text {
    @apply relative w-fit font-mono font-bold text-[30px] text-orange-500;
    text-shadow: 0 0 0 rgb(251 113 133),
      /* rose-400 */
      0 0 0 rgb(252, 135, 52),
      /* orange-500 */
      0 0 0 rgb(196, 45, 45);
    /* rose-900 */
    animation: text-glitch 1s infinite cubic-bezier(0.5, -2000, 0.5, 2000);
  }

  .loader-text::before {
    content: "Loading...";
  }

  @keyframes text-glitch {

    25%,
    100% {
      text-shadow:
        0.03px -0.01px 0.01px rgb(251 113 133),
        0.02px 0.02px 0 rgb(249 115 22),
        -0.02px 0.02px 0 rgb(223, 34, 34);
    }
  }
}




@keyframes matrix-fall {
  0% {
    transform: translateY(-50px) rotateX(90deg);
    opacity: 0;
  }

  20%,
  80% {
    transform: translateY(0) rotateX(0deg);
    opacity: 0.85;
  }

  100% {
    transform: translateY(50px) rotateX(-90deg);
    opacity: 0;
  }
}

@keyframes matrix-flicker {

  0%,
  19%,
  21%,
  100% {
    opacity: 0.85;
  }

  20% {
    opacity: 0.2;
  }
}

@keyframes matrix-pulse {

  0%,
  100% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.7;
  }
}

/* Tailwind shortcuts */
.animate-matrix-fall {
  animation: matrix-fall 2s infinite;
}

.animate-matrix-flicker {
  animation: matrix-flicker 0.5s infinite;
}

.bg-radial-pulse {
  background: radial-gradient(circle, rgba(255, 241, 242, 0.15) 0%, transparent 70%);
  animation: matrix-pulse 2s infinite;
}